<nav>
  <ul>
    <li><a href="/addFeature"><img src="../../static/images/like.png" alt="Like button"></a></li>
    <li><a href="/addGameFeature"><img src="../../static/images/home.png" alt="Home button"></a></li>
    <li><a href="/addGameFeatureProfiel"><img src="../../static/images/profiel.png" alt="profiel button"></a></li>
  </ul>
</nav>

<script src="../../static/script/deleteGame.js"></script>
