<noscript>
  You dont have JavaScript enabled.
</noscript>

<nav>
  <ul>
    <li>
      <a href="/" id="backwardnav">
        <button>
          <img src="../../static/images/back.png" alt="Like button">
        </button>
      </a>
    </li>
    <li>
      <a href="/">
        <button>
          <img src="../../static/images/home.png" alt="Home button">
        </button>
      </a>
    </li>
    <li>
      <a href="/" id="forwardnav">
        <button>
          <img src="../../static/images/forward.png" alt="profiel button">
        </button>
      </a>
    </li>
  </ul>
</nav>

<script src="../../static/script/navigatie.js"></script>
<script src="../../static/script/deleteMessage.js"></script>
<script src="../../static/script/blog.js"></script>
