<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Matching app</title>
<%- include('../partials/border') %>
<link rel="stylesheet" href="/static/css/stylesmens.css">
<link rel="stylesheet" href="/static/css/general.css">
<link rel="stylesheet" href="../../static/css/nav.css">