<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Monkey Monday</title>
<%- include('../partials/border') %>
<link rel="stylesheet" href="../../static/css/general.css">
<link rel="stylesheet" href="../../static/css/monkeyNav.css">
<link rel="stylesheet" href="https://use.typekit.net/arn8ybg.css">
