<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/headmens'); %>
</head>

<header>
    <%- include('../partials/header'); %>
</header>

<body>
    <main>
        <section>
            <article class="container">
                <img class="errorfoto" src="/static/images/final404.png">
                <p class="errortext">Unfortunatly peanutbutter this page does not exist. Use the navigation below to
                    return to the homepage!</p>
            </article>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
    <script src="../../static/script/script.js"></script>
</body>
</html>
