<!DOCTYPE html>
<html lang="en" class="noNavBorder">

<head>
  <%- include('../partials/head') %>
</head>

<body id="notMondayBody">
  <main id="notMondayMain">
    <h1>Monkey Monday</h1>
    <p>Oh no! Its not monday, Please come back when its monday.</p>
    <h4>Thanks for understanding.</h4>
    <img src="../static/images/logo.png" alt="MonkeyMonday logo">
  </main>
  <footer>
    
    <div class="borderBottom"></div>
    <script type="text/javascript" href="../static/script/makeItMonday.js"></script>
  </footer>
</body>

</html>
