<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <main>
    <h1>Monkey Monday</h1>
    <p>Oh no! Its not monday, Please come back when its monday.</p>

    <p>Thanks for understanding.</p>
  </main>
  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>

</html>
