/* Footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #A87EB7;
}

footer nav ul {
  width: 100%;
  height: 7vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

footer nav ul li {
  text-align: center;
  list-style: none;
}

footer nav ul li img {
  padding-top: 0.5em;
  height: 60%;
  width: auto;
}

footer nav ul li a:active {
  outline: none;
  color: none;
}

/* Border  */
.borderRight {
  background: #A87EB7;
  height: 100%;
  width: 3vw;
  position: fixed;
  right: 0;
}

.borderLeft {
  background: #A87EB7;
  height: 100%;
  width: 3vw;
  position: fixed;
  left: 0;
}

.borderTop {
  background: #A87EB7;
  height: 0.6em;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}

.borderBottom {
  background: #A87EB7;
  height: 0.6em;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}

.noNavBorder {
  background-size: 95.5% 98%;
}
